@import '../../Theme.scss';

.sign {
	padding: map-get($spacing, 'sm');
	width: 100%;
	flex-basis: 100%;
	max-width: 100%;
	box-sizing: border-box;

	@include screen-above(sm) {
		width: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	@include screen-above(md) {
		width: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%;
	}

	@include screen-above(lg) {
		padding: map-get($spacing, 'normal');
		width: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	&__inner {
		padding: map-get($spacing, 'md');
		box-shadow: 0 0 0.25rem 0 map-get($colors, 'light');

		h2 {
			display: inline;
			padding: map-get($spacing, 'sm') map-get($spacing, 'md');
			margin: 0;
			background: map-get($colors, 'accent');
			font-size: map-get($font-sizes, 'md');
			font-weight: map-get($font-weights, 'normal');
			color: white;
			position: relative;
			left: -(map-get($spacing, 'md'));
		}

		img {
			display: block;
			margin: 0 auto;
		}

		.button-wrap {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			margin-top: map-get($spacing, 'normal');

			svg {
				color: map-get($colors, 'primary');
				font-size: map-get($font-sizes, 'lg');
				margin-right: map-get($spacing, 'sm');
			}

			.rs-container {
				flex-basis: auto;
				flex-grow: 0;
				flex-shrink: 1;
				width: auto !important;

				&:hover, &:focus, &:active {
					outline: none !important;
				}

				.rs-play {
					display: block;
					border-radius: map-get($spacing, 'sm');
					background: map-get($colors, 'primary') !important;
					color: white;
					padding: map-get($spacing, 'sm') map-get($spacing, 'normal');
					transition: $global-transition;

					&:hover, &:focus, &:active {
						background: darken(map-get($colors, 'primary'), 10%) !important;
						outline: 0 !important;
					}

					.rs-text {
						background: transparent;
						font-family: $body-font;
					}
				}
			}
		}
	}
}